@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll bars */

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #695454;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #503838;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #141010;
  }